/debug/.vs
/debug/lib
debug/Visualizer.vcxproj
debug/Visualizer.vcxproj.filters
debug/Visualizer.vcxproj.user
/debug/Visualizer
/debug/x64
debug/Visualizer.sln
/Visualizer/.vs
Visualizer/Visualizer.sln
Visualizer/Visualizer.vcxproj
Visualizer/Visualizer.vcxproj.filters
Visualizer/Visualizer.vcxproj.user
/Visualizer/Visualizer
/Visualizer/x64
/Visualizer/enc_temp_folder
